@use 'components';

@mixin section-display {
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem;
    max-width: 992px;
    height: 4rem;
    border-bottom: 1px solid #ddd;
}

.logo img {
    max-width: 6rem;
}

.sec-home {
    display: flex;
    align-items: center;
    @include section-display();
    .home-cta {
        flex: 1;
        .cta-text {
            color: components.$color-main;
            i {
                font-weight: 600;
            }
        }
        .home-title {
            width: 25rem;
            font-size: 62px;
            line-height: 1.15;
        }
    }
}

.img {
    width: 100%;
}
.sec-features {
    margin-top: 2rem;
    @include section-display();
    .intro {
        text-align: center;
        h3 {
            font-size: 40px;
            font-weight: 600;
        }
        p {
            font-size: 18px;
            color: #444;
        }
    }
    .features {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .text {
            max-width: 40%;
            padding: 2rem 0rem;
            .feature {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                .description {
                    margin-left: 0.55rem;
                    .description-title {
                        font-size: 1.2rem;
                        text-align: center;
                    }
                    .description-text {
                        font-size: 0.85rem;
                        text-align: center;
                    }
                }
            }
        }
        .image {
            img {
                width: 100%;
            }
        }
    }
}

.sec-benefits {
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    @extend .sec-features, .intro;
}

.sec-kpis {
    background-color: components.$color-main;
    color: #ccc;
    margin: auto;
    width: 100%;
    margin-top: 4rem;
    padding: 3rem;
    .kpi {
        display: flex;
        flex-direction: column;
        align-items: center;
        .number {
            font-size: 3rem;
            font-weight: 600;
        }
    }
}

.sec-onboarding {
    margin-top: 2rem;
    @extend .sec-features, .intro;
    .steps {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.25rem;
        .step-separator {
            border-top: 5px solid #ddd;
            margin: 0 1rem;
            flex: 1;
        }
    }
}

.sec-footer-cta {
    background-color: components.$color-footer;
    padding: 4rem;
    background-image: url('./../assets/img/world.webp');
    background-repeat: no-repeat;
    background-position: 100%;
    .footer-cta {
        max-width: 50%;
        .cta-title {
            font-size: 40px;
            font-weight: 600;
        }
        .cta-description {
            font-size: 18px;
        }
    }
}
