@charset "UTF-8";
.btn-main, .btn-main-sm {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #0052ff;
  color: white;
  border: solid 1px #0052ff;
}
.btn-main:hover, .btn-main-sm:hover {
  color: #0052ff;
  background-color: white;
}
.btn-main-sm {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btn-sec, .btn-sec-sm {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  color: black;
  background-color: transparent;
  border: none;
}
.btn-sec:hover, .btn-sec-sm:hover {
  color: #444;
}
.btn-sec-sm {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.main-menu {
  margin-bottom: 0;
}
.main-menu li {
  list-style: none;
  display: inline;
  font-size: 1rem;
  margin-left: 0.5rem;
}
.main-menu li a {
  color: black;
  text-decoration: none;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm i {
  font-size: 1.5rem;
  padding: 0.5rem¿ 0.5rem;
  color: #0052ff;
}

.benefit {
  display: flex;
  flex-direction: column;
}
.benefit i {
  color: #0052ff;
  font-size: 7.5rem;
  text-align: center;
}
.benefit .description .title {
  font-size: 1.2rem;
  text-align: center;
}
.benefit .description .text {
  color: #888;
  font-weight: 600;
  text-align: center;
}
.benefit .cta {
  color: #0052ff;
  font-weight: 600;
  margin-top: 3rem;
  text-align: center;
}

.icon-description {
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-description .icon {
  padding: 0;
  color: #0052ff;
  font-size: 10rem;
}
.icon-description .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: -2rem;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem;
  max-width: 992px;
  height: 4rem;
  border-bottom: 1px solid #ddd;
}

.logo img {
  max-width: 6rem;
}

.sec-home {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 1rem;
}
.sec-home .home-cta {
  flex: 1;
}
.sec-home .home-cta .cta-text {
  color: #0052ff;
}
.sec-home .home-cta .cta-text i {
  font-weight: 600;
}
.sec-home .home-cta .home-title {
  width: 25rem;
  font-size: 62px;
  line-height: 1.15;
}

.img {
  width: 100%;
}

.sec-features, .sec-benefits {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 1rem;
}
.sec-features .intro, .sec-features .sec-benefits, .sec-benefits .intro, .sec-benefits .sec-benefits {
  text-align: center;
}
.sec-features .intro h3, .sec-features .sec-benefits h3, .sec-benefits .intro h3, .sec-benefits .sec-benefits h3 {
  font-size: 40px;
  font-weight: 600;
}
.sec-features .intro p, .sec-features .sec-benefits p, .sec-benefits .intro p, .sec-benefits .sec-benefits p {
  font-size: 18px;
  color: #444;
}
.sec-features .features, .sec-benefits .features {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.sec-features .features .text, .sec-benefits .features .text {
  max-width: 40%;
  padding: 2rem 0rem;
}
.sec-features .features .text .feature, .sec-benefits .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.sec-features .features .text .feature .description, .sec-benefits .features .text .feature .description {
  margin-left: 0.55rem;
}
.sec-features .features .text .feature .description .description-title, .sec-benefits .features .text .feature .description .description-title {
  font-size: 1.2rem;
  text-align: center;
}
.sec-features .features .text .feature .description .description-text, .sec-benefits .features .text .feature .description .description-text {
  font-size: 0.85rem;
  text-align: center;
}
.sec-features .features .image img, .sec-benefits .features .image img {
  width: 100%;
}

.sec-benefits {
  border-top: 1px solid #ccc;
}

.sec-kpis {
  background-color: #0052ff;
  color: #ccc;
  margin: auto;
  width: 100%;
  margin-top: 4rem;
  padding: 4rem;
}
.sec-kpis .kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-kpis .kpi .number {
  font-size: 3rem;
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */